@model IEnumerable<Model.EF.Review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}


@section header{
    Danh sách ý kiến khách hàng
}


<table class="table">
    <tr>
        <th>
            Mã sản phẩm
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
